@use "mixins" as *;

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  &__title {
    font-size: 2.5rem;
    text-align: center;
  }

  &__button {
    @include big-button(#0077B6, #023E8A, #0096C7);
  }
}
