@mixin big-button($bg-color, $boxshadow-color, $hover-color) {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.625rem 1.25rem;
  background: $bg-color;
  color: #ffffff;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 -4px 0 -2px #000, 0 4px 0 -2px #000, -4px 0 0 -2px #000,
    4px 0 0 -2px #000, inset -4px -4px 0 0 $boxshadow-color;

  &:hover {
    background: $hover-color
  }

  &:active {
    box-shadow: 0 -4px 0 -2px #000, 0 4px 0 -2px #000, -4px 0 0 -2px #000,
      4px 0 0 -2px #000, inset 4px 4px 0 0 $boxshadow-color;
  }
}

@mixin small-button($bg-color, $boxshadow-color, $hover-color) {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.125rem 0.5rem 0.25rem 0.375rem;
  background: $bg-color;
  color: #ffffff;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 -4px 0 -2px #000, 0 4px 0 -2px #000, -4px 0 0 -2px #000,
    4px 0 0 -2px #000, inset -2px -2px 0 0 $boxshadow-color;

  &:hover {
    background: $hover-color;
  }
  &:active {
    box-shadow: 1px 0 0 2px #000, 0 0 0 1px #000, 0 1px 0 2px #000,
      0 0 0 1px #000, inset -2px -2px 0 0 $boxshadow-color;
  }
}

@mixin input-field($bg-color: #ffffff, $boxshadow-color: #000, $focus-color: #0077B6) {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem;
  background: $bg-color;
  color: #000000;
  border: none;
  outline: none;
  position: relative;
  box-shadow: 0 -4px 0 -2px #000, 0 4px 0 -2px #000, -4px 0 0 -2px #000,
    4px 0 0 -2px #000, inset -4px -4px 0 0 $boxshadow-color;

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }

  &:focus {
    box-shadow: 0 -4px 0 -2px $focus-color, 0 4px 0 -2px $focus-color,
      -4px 0 0 -2px $focus-color, 4px 0 0 -2px $focus-color,
      inset 4px 4px 0 0 $boxshadow-color;
  }
}