@use "mixins" as *;

.playerList {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  &__title {
    font-size: 2rem;
    margin: 1rem 0 0;
  }

  &__list {
    &-row {
      display: flex;
      align-items: center;
      height: 2.5rem;
      gap: 1rem;
    }

    &-name {
      margin-right: 1rem;
    }

    &-delete-btn {
      @include small-button(#ef5350, #c62828, #f44336);
      align-self: flex-start;
    }
  }
}

.addPlayer {
  &__form {
    display: flex;
  }

  &__btn {
    @include big-button(#4caf50, #388e3c, #66bb6a);
  }
}
